.btn1{
    background-color: rgb(132, 197, 240);
    border: none;
    padding:10px ;
    border-radius:5px ;

}

.one{
    font-size: 20px;
    display: flex;
    justify-content: center;
    float: right;
    
}